h1 {
    color: navy;
}

.find-out {
    color: darkgreen;
}


#hero {
    height: 85vh;
    width: 100%;
    padding-top: 32px;
    background: url(../images/katie-smith-uQs1802D0CQ-unsplash.jpg) no-repeat center center/cover;
    position: relative;
    margin-bottom: 0px;
    border-radius: 0;
}
