/* *--------------------------------------------General------**/

body {
    background-color: #fafae9;
}


/**--------------------------------------------Modifiers------**/

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(250, 250, 233, 0.192);
    z-index: 1;
}

/**--------------------------------------------Navbar------**/

.navbar{
    background-color: #56a034;
    border-bottom: 2px solid #6a9171;
}

.navbar-nav {
    margin-left: 15px;
}

.navbar-brand{
    background-image: url(../images/default.jpg);
    background-size: contain;
    height: 3.5rem;
    width: 3.5rem;
    margin-left: 15px;
    border-radius: 50%;
    border: 2px solid #425a46; 
}

.navbar-toggler {
    margin-right: 20px;
}

/**--------------------------------------------Homepage------**/

#hero {
    height: 85vh;
    width: 100%;
    padding-top: 32px;
    background: url(../images/katie-smith-uQs1802D0CQ-unsplash.jpg) no-repeat center center/cover;
    position: relative;
    margin-bottom: 0px;
    border-radius: 0;
}

.hero-text {
    position: relative;
    z-index: 1; 
}


/*--------------------------------------------Recipe Cards------*/

.btn {
    font-size: 14px;
    border-radius: 5px;
    margin: 0 5px;
    white-space: nowrap; /* Prevent the text from wrapping */
    max-width: 100%; /* Ensure the button width doesn't exceed its container */
    flex-shrink: 0; /* Prevent button from shrinking */
}

.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    flex-wrap: nowrap; /* Prevent buttons from wrapping to the next line */
}