{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid p-0">
    <div id="hero">
        <!-- <div class="opaque-overlay-pink">&nbsp;</div> -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8 hero-text">
                    <h1>You're never alone when it comes to mental health.</h1>
                    <hr class="hr-white">
                    <p class="lead">We're here to help.</p><a class="find-out" href="#here-to-help">Find out
                        how.</a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}