{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Hero Section-->

<div class="container-fluid p-0">
    <div id="hero">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-8 hero-text text-center ">
                    <h1>Find and organise your favourite recipes with VITTLER</h1>
                    <hr>
                    {% if user.is_authenticated %}

                    {% else %}
                    <div class="hero-btn-container d-inline-block"><a href="{% url 'account_login' %}" class="btn btn-info">Sign up</a> <strong>or</strong></div>
                    {% endif %}
                    <a href="{% url 'library' %}" class="btn btn-primary">Start searching our
                            recipe library!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Blurb Section-->

<div class="container-fluid p-0">
    <div class="page-separator px-5 py-1">
        <h2>Welcome to VITTLER</h2>
    </div>
</div>
<div class="container">
    <div class="row blurb">
        <div class="col-12 col-lg-6 order-2 order-lg-1 d-flex justify-content-center align-items-center ">
            <div class="brand-blurb">

            <h4> Discover a world of flavor at your fingertips. With VITTLER, you can:</h4>
                <br>
                <br>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa-solid fa-clipboard"></i></span>Upload Your Recipes: Share your favorite dishes and inspire others.</li>
                    <li><span class="fa-li"><i class="fa-solid fa-magnifying-glass"></i></span>Explore the Library: Browse a growing collection of recipes from food lovers everywhere.</li>
                    <li><span class="fa-li"><i class="fa-solid fa-book"></i></span>Save Your Favorites: Build your own personal recipe book with just a click.</li>
                </ul>
                <br>
                <br>
                <p>Simple, collaborative, and delicious—start your culinary journey with VITTLER today!</p>
            </div>
        </div>

        <div class="col-12 col-lg-6 order-1 order-lg-2">
            <img src="../static/images/default.jpg" class="img-fluid  brand-image" alt="Responsive image">
        </div>
    </div>
</div>

{% endblock %}